services:
  frontend:
    build:
      context: ./frontend 
    container_name: frontend
    volumes:
       - ./server/public/build:/app/public/build
       - ./frontend:/app
    command: sh -c "npm install && echo 'NPM install done' && npm run dev-watch"

  server: 
    build:
      context: ./server 
    container_name: server
    depends_on:
      - frontend
      - postgres
    expose:
      - "9000"
    environment:
      DATABASE_URL: "postgresql://myuser:mypassword@postgres:5432/mydb?serverVersion=18.1&charset=utf8"
    command: sh -c "composer install && echo 'Composer install done' && php-fpm" 

  nginx:
    image: nginx
    container_name: nginx
    depends_on:
      - server
    ports:
      - "8080:80"
    volumes:
      - ./server:/app/server
      - ./nginx:/etc/nginx/conf.d

  postgres:
    image: postgres:18.1
    container_name: postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    
